/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:100);
@import url(http://fonts.googleapis.com/css?family=Lato:900);

/*********************BEGIN RESET*********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************END RESET*********************/

/********************BEGIN ICONS*********************/
@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-magnifying-glass6:before {
	content: "\e000";
}
.flaticon-menu48:before {
	content: "\e001";
	color:white;
	position:absolute;
	left:0;
	top:17px;
}
.flaticon-purse10:before {
	content: "\e002";
	color:white;
	position:absolute;
	right:17px;;
	top:17px;
}
/********************END ICONS*********************/

body {
    font-size:1em;
	font-family:'Open Sans', sans-serif;
	font-weight:100;
}

h1,h3{
	font-family: 'Lato', sans-serif;
}

h3{
	font-weight:900;
}

img{
	width:100%;
}

header{
	text-align:center;
}

.show_mobile{
	display:none;
}

.hidden_mobile{
	display:inline;
}

.background_main{
	background-color:#26c6da;
}

.background_dark{
	background-color:#374747;
}

.header_title{
	color:white;
}

.header_title a{
	text-decoration:none;
}

.header_title a:visited{
	color:white;
}

.price{
	text-align:center;
}

#page_title{
	padding:20px 0 20px 0;
}

/************MENU***********/

#main_menu{
	background-color:white;
	width:80%;
	height:240px;
	position:absolute;
	top:56px;
	left:0px;
	border:1px solid #CDCDCD;
}

#main_menu li{
	display:block;
	padding:15px 0px 15px 0px;
}

#main_menu a{
		text-decoration:none;
		color:black;
}

/**********END MENU*********/


/**********SECTIONS********/

section{
	padding:15px 15px 15px 15px;
}

.title_section{
	text-align:center;
}

section p{
	color:white;
}

/********END SECTIONS******/


/*********ARTICLES********/

article {
	padding:15px 15px 15px 15px;
}

article h2{
	font-size:1.2em;
	padding:15px 0 10px 0;
}

article p{
	color:black;
}


/*******END ARTICLES******/


/********ECOMMERCE********/

.price input{
	background-color:#11E200;
	padding:15px 25px 15px 25px;
	font-size:1em;
	font-family:'Open Sans', sans-serif;
	font-weight:100;
}

/******END ECOMMERCE******/

@media screen and (max-width: 375px) {
	body{
		font-size:1em;
	}
	
	.show_mobile{
		display:inline;
	}
	
	.hidden_mobile{
		display:none;
	}
	
	#wrapper{
		padding: 0 5% 0 5%;
		margin: 0 auto;
	}
}