/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

/*********************BEGIN RESET*********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*********************END RESET*********************/

/********************BEGIN ICONS*********************/
@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-magnifying-glass6:before {
	content: "\e000";
	color:black;
}
.flaticon-menu48:before {
	content: "\e001";
	color:white;
	position:absolute;
	left:0;
	top:17px;
}
.flaticon-purse10:before {
	content: "\e002";
	color:white;
	position:absolute;
	right:17px;;
	top:17px;
}
/********************END ICONS*********************/

.clearfix{
	clear:both;
}

.show_mobile{
	display:none;
}

.hidden_mobile{
	display:inline;
}

@media screen and (max-width: 767px) {
	body {
    	font-size:1em;
		font-family:'Open Sans', sans-serif;
		font-weight:400;
	}

	h1, h2, h3{
		font-family: 'Lato', sans-serif;
	}

	h1{
		font-size:1.3em;
		font-weight:900;
	}
	
	h2{
		font-weight:900;
	}
	
	h3{
		font-weight:600;
	}
	
	p, li{
		line-height: 1.4em;
	}
	
	strong{
		font-weight:600;
	}
	
	img{
		width:100%;
	}
	
	ul, ol{
		margin-left:20px;	
	}
	
	header{
		padding:15px 15px 15px 15px;
		text-align:center;
	}
	
	header a h2{
		color:black;
	}
	
	section header{
		color:white;
		background-color:#00acc1;
		/*#26c6da 00bcd4*/
	}
	
	article header{
		color:black;
		background-color:white;
	}
	
	article a{
		text-decoration:none;
	}
	
	article .wrapper h2{
		margin-top:45px;
		font-size:1.2em;
	}
	
	article .wrapper p{
		color:black;
		margin-top:15px;
		margin-bottom:25px;
	}
	
	article .wrapper li{
		margin-top:25px;
	}
	
	article .wrapper p a{
		text-decoration:underline;
	}
	
	.wrapper{
		width:80%;
		margin: 0 auto;
	}

	.thumbnail header{
		float:right;
		width:56%;
		margin:0px !important;
		padding:0px !important;
	}
	
	.thumbnail header h2{
		text-align:left;
	}
	
	.thumbnail .wrapper{
		width:38%;
		margin: 15px 2.5%;
	}
	
	.thumbnail .wrapper figure img{
		border: 1px solid #DCDCDC;
	}
	
	.post_meta{
		font-size:0.8em;
		margin-top:8px;
		text-align:left;
	}
	
	.post_meta p:first-child{
		margin-bottom:8px;
	}
	
	.page_header{
		background-color:#374747;
	}

	.show_mobile{
		display:inline;
	}
	
	.hidden_mobile{
		display:none;
	}
	
	.header_title a{
		text-decoration:none;
	}

	.header_title a:visited{
		color:white;
	}

	.product_thumbnail header .price p{
		display:block;
		margin: 10px 0px 12px 0px;
		font-family: 'Lato', sans-serif;
		font-weight:400;
	}
	
	.product_thumbnail header .price .add_cart{
		background-color:#ffc107;
		padding: 10px 10px;
		width: 70%;
		font-size:0.9em;
		text-align:center;
	}
	
	.shopping_cart_recount{
		color: black;
		position:absolute;
		right:23px;;
		top:23px;
	}

	.product_thumbnail{
		width:45%;
		float:left;
		margin: 5% 2%;
	}
	
	.title_section{
		text-align:center;
	}

	#page_title{
		padding:5px 0;
	}

	#main_menu{
		background-color:white;
		width:100%;
		/*height:220px;*/
		position:absolute;
		top:56px;
		left:0px;
		border:1px solid #CDCDCD;
		text-align:center;
		padding-bottom:25px;
	}

	#main_menu li{
		display:block;
		padding:15px 0px 15px 0px;
	}

	#main_menu a{
		text-decoration:none;
		color:black;
	}	
}